.cart {
  flex: 0 0 48rem;
  height: 100vh;

  background: #fff;
  border-left: 1px solid #d0d5dd;
  box-shadow: 3.2rem 3.2rem 6.4rem #34405414;

  position: relative;

  &__heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    position: absolute;
    left: 3.2rem;
    top: 3.2rem;

    color: #000;
  }

  &__list {
    overflow-y: overlay;

    height: 60%;

    position: absolute;
    left: 32px;
    top: 112px;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__items {
    list-style: none;

    width: 44rem;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 4rem;
  }
}
