.button {
  cursor: pointer;

  color: #fff;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 8px;

  width: 100%;
  height: 4.8rem;

  background: #2e3ea1;

  border: 1px solid #2e3ea1;

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}
